<h1>All comments</h1>

<% @the_post.comments.each do |comment| %>
<dl>
  <dt><%=comment.user.name%></dt>
  <dd><%= comment.content %></dd>
</dl>

  <% p "************************************"%>
  <% p session[:user_id]%>
  <% p current_user%>
    <% p current_user.id%>

  <% p comment.user%>
  <% p "************************************"%>
  <% if current_user == comment.user%>
  <%= link_to 'Edit', edit_post_comment_path(@the_post, comment)%>

  <br><%= link_to 'Delete', post_comment_path(@the_post, comment), method: :delete,
                                  data: { confirm: "You sure?" } %>
<%end%>
<p><%= link_to "Add a comment", new_post_comment_path(@the_post) %></p>

<% end %>

